<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-code fa-lg main-list-item-icon"></span>
    <a href="{{ site.url }}/progetti">Programmazione</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-camera-retro fa-lg main-list-item-icon"></span>
    <a href="{{ site.url }}/galleria">Fotografia</a>
  </li>
</ul>
<hr>
<h2> Progetti Open source</h2><hr>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="https://bortox.github.io/Compiti-scolastici">Compiti-scolastici</a>
  </li>
  Un blog ad uso e abuso degli studenti contenente i compiti scolastici e gli appunti presi da me, Andrea Bortolotti, durante il liceo. 
  <li class="main-list-item">
    <span class="fa fa-list-alt fa-lg main-list-item-icon"></span>
    <a href="https://bortox.github.io/trovaparadigmi/">Trovaparadigmi</a>
  </li>
  Trova in modo semplice e veloce tutti i paradigmi dei verbi compresi in un testo latino.
  </ul>
<hr>
<ul class="fa-ul main-list">
  <li class="main-list-item">
      <span class="fa fa-github fa-lg main-list-item-icon"></span>
      <a href="https://github.com/bortox">GitHub</a>
    </li>
  
</ul>
Pagina costruita con <a href="https://github.com/excentris/compass">compass</a> di <a href="http://excentris.net">Eduardo Rubio</a>
